<div class="oz-main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="example-card">

          <mat-card-header class="oz-us-address-card-header">
            <mat-card-title class="oz-us-address-card-title">
              თქვენი ანგარიში
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="oz-us-address-card-body">
            <div class="oz-packages-account-status__items-wrapper">
              <div class="oz-packages-account-status__item">
                <i class="fal fa-file-invoice-dollar oz-font-icon"></i>
                <div class="oz-with-padding inline-block">
                  <h6 class="oz-packages-account-status__item-title"><span>{{userAccount?.receiptSum}}</span> ლ</h6>
                  <p class="oz-packages-account-status__item-description">ინვოისების ჯამი</p>
                </div>
              </div>
              <div class="oz-packages-account-status__item">
                <i class="fal fa-balance-scale oz-font-icon"></i>
                <div class="oz-with-padding inline-block">
                  <h6 class="oz-packages-account-status__item-title"><span>{{userAccount?.balance}}</span> ლ</h6>
                  <p class="oz-packages-account-status__item-description">ბალანსი</p>
                </div>
              </div>
              <div class="oz-packages-account-status__item">
                <i class="fal fa-suitcase oz-font-icon"></i>
                <div class="oz-with-padding inline-block">
                  <h6 class="oz-packages-account-status__item-title"><span>{{userAccount?.payable}}</span> ლ</h6>
                  <p class="oz-packages-account-status__item-description">გადასახდელი</p>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions class="oz-card-actions">

            <div class="fill"></div>
            <div>
              <button mat-button>თანხის შემოტანა</button>
              <button mat-button>გადახდა</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-12 oz-tab-div-with-top-padding">

        <mat-card>
          <mat-tab-group class="oz-tab-group">

            <mat-tab label="მისამართები">
              <mat-card *ngFor="let addressItem of addresses" class="oz-with-margin">

                <mat-card-header class="oz-us-address-card-header">
                  <mat-card-title class="oz-us-address-card-title">{{addressItem.title}}</mat-card-title>
                </mat-card-header>

                <mat-card-content class="oz-us-address-card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title">
                          Name:
                        </div>
                        <div class="col-md-8">
                          {{getUserName(user)}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title">
                          State:
                        </div>
                        <div class="col-md-8">
                          {{addressItem?.state}}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title">
                          Address1:
                        </div>
                        <div class="col-md-8">
                          {{addressItem?.address1}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title">
                          Zip:
                        </div>
                        <div class="col-md-8">
                          {{addressItem?.zip}}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title">
                          Address2:
                        </div>
                        <div class="col-md-8">
                          {{addressItem?.address2Prefix}}{{setPrefix(user.uniqueUserId, 9)}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title title">
                          Country:
                        </div>
                        <div class="col-md-8">
                          {{addressItem?.countryCode}}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title">
                          City:
                        </div>
                        <div class="col-md-8">
                          {{addressItem?.city}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4 address-item-title">
                          Phone:
                        </div>
                        <div class="col-md-8">
                          {{addressItem?.phone}}
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>

              </mat-card>
            </mat-tab>

            <mat-tab label="პროფილი">
              <div class="container">
                <form class="example-form" #userInfoUpdateForm="ngForm">
                  <div class="row registration-row">
                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="სახელი (ქართულად)" [(ngModel)]="user.firstName.geo" name="firstNameGeo"
                          GeoInputDirective autocomplete="off" [disabled]="true" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="სახელი (ლაინურად)" [(ngModel)]="user.firstName.en" name="firstNameEn"
                          LatInputDirective autocomplete="off" [disabled]="true" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="გვარი (ქართულად)" [(ngModel)]="user.lastName.geo" name="lastNameGeo"
                          GeoInputDirective autocomplete="off" [disabled]="true" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="გვარი (ლათინურად)" [(ngModel)]="user.lastName.en" name="lastNameEn"
                          LatInputDirective autocomplete="off" [disabled]="true" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="სქესი" [(ngModel)]="user.gender" name="gender" autocomplete="off"
                          [disabled]="true" required>
                          <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{gender.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">

                        <input matInput [matDatepicker]="birthDayPicker" placeholder="დაბადების თარიღი" [(ngModel)]="user.birthDate"
                          name="birthDate" autocomplete="off" required>
                        <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthDayPicker></mat-datepicker>

                      </mat-form-field>
                    </div>

                    <ng-container *ngIf="user['isOrganization']">
                      <div class="col-md-6">
                        <div class="full-width center-checkbox">
                          <mat-checkbox [(ngModel)]="user['isOrganization']" name="isOrganization">
                            ორგანიზაცია?
                          </mat-checkbox>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="full-width">
                          <input matInput [disabled]="!user['isOrganization']" [(ngModel)]="user.organizationName"
                            name="organizationName" placeholder="ორგანიზაცია" autocomplete="off" required="{{user['isOrganization']}}">
                        </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <input matInput [disabled]="!user['isOrganization']" placeholder="საიდენთიფიკაციო კოდი"
                            [(ngModel)]="user.identificationCode" name="identificationCode" autocomplete="off"
                            required="{{user['isOrganization']}}">
                        </mat-form-field>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="!user['isOrganization']">
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <input matInput [disabled]="true" placeholder="პირადი ნომერი"
                            [(ngModel)]="user.personalId" name="personalId" autocomplete="off" required="{{!user['isOrganization']}}">
                        </mat-form-field>
                      </div>
                    </ng-container>

                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="ელ. ფოსტა" [(ngModel)]="user.email" name="email" autocomplete="off"
                          pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required [disabled]="true">
                      </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="ქალაქი" [(ngModel)]="user.city" name="city" required>
                          <mat-option *ngFor="let city of cities" [value]="city">
                            {{city}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>


                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="მისამართი (ქუჩა)" [(ngModel)]="user.address1" name="address1"
                          autocomplete="off" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="მისამართი (ქუჩის N, ბინის N და ა.შ)" [(ngModel)]="user.address2"
                          name="address2" autocomplete="off">
                      </mat-form-field>
                    </div>

                  </div>

                  <div class="row registration-row">
                    <div class="col-md-12">
                      <button class="right register-button" [disabled]="!userInfoUpdateForm.valid" mat-raised-button
                        color="primary" (click)="updateUserInfo()">განახლება</button>
                    </div>
                  </div>

                </form>
              </div>
            </mat-tab>

            <mat-tab label="პაროლის შეცვლა">
              <div class="container">
                <form class="example-form" #passwordUpdateForm="ngForm">
                  <div class="row registration-row">

                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="შეიყვანეთ ძველი პაროლი" name="old-password" [(ngModel)]="passwordUpdateModelBinder.oldPassword"
                          GeoInputDirective autocomplete="off" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="შეიყვანეთ ახალი პაროლი" name="new-password" [(ngModel)]="passwordUpdateModelBinder.newPassword"
                          LatInputDirective autocomplete="off" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="გაიმეორეთ ახალი პაროლი" name="new-password-re" [(ngModel)]="passwordUpdateModelBinder.newPasswordRe"
                          LatInputDirective autocomplete="off" required>
                      </mat-form-field>
                    </div>


                  </div>

                  <div class="row registration-row">
                    <div class="col-md-12">
                      <button class="right register-button" [disabled]="!passwordUpdateForm.valid" mat-raised-button
                        color="primary" (click)="updatePassword()">დამახსოვრება</button>
                    </div>
                  </div>

                </form>
              </div>
            </mat-tab>
            <mat-tab label="შეტყობინებების მართვა"> შეტყობინებების მართვა </mat-tab>
            <mat-tab label="სხვა პარამეტრები"> სხვა პარამეტრები </mat-tab>
          </mat-tab-group>
        </mat-card>

      </div>

    </div>
  </div>
</div>