@import '../shared/styles.css';

.address-item-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

/* ___? */

.oz-packages-account-status__items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 23px;
  width: 95%;
}

.oz-packages-account-status__item-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.oz-packages-account-status__item {
  padding-left: 43px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.oz-packages-account-status__item-description {
  color: #6e828d;
  font-size: 13px;
}

.oz-font-icon {
  font-size: 45px;
  display: inline;
  color: #48484869
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.oz-with-padding {
  padding-left: 20px;
}

.oz-tab-div-with-top-padding {
  padding-top: 20px;
}

/* ____________________________ */

.registration-row {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.right {
  float: right;
}

.register-button {
  width: 35%;
  font-size: 20px;
  height: 45px;
}

.center-checkbox {
  margin-top: 20px;
}

button[disabled] {
  cursor: not-allowed;
}

.example-form {
  margin-bottom: 40px;
}

.oz-with-margin {
  margin: 20px 5px;
}