<div class="oz-main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 oz-with-margin">
          <app-viewable-list-component [awaitingPackages]="awaitingPackages" [printInvoice]="false" [title]="'გამოგზავნილი ამანათები'"></app-viewable-list-component>
      </div>
    </div>
  </div>
</div>