<div class="nav-side-menu">
	<div class="brand">სუპერ ადმინი</div>
	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

	<div class="menu-list">

		<ul id="menu-content" class="menu-content collapse out">

			<ng-container *ngFor="let menuItem of navigationItems">
				<li>
					<a class="menu-item" [routerLink]="[menuItem.route]">
						<i [ngClass]="menuItem.icon"></i> {{menuItem.title}}
					</a>
				</li>
			</ng-container>

			<li>
					<a class="menu-item pointer" (click)="logOutClickHandler()">
						<i [ngClass]="'fal fa-sign-out'"></i> გამოსვლა
					</a>
				</li>
		</ul>

	</div>

</div>