<div class="oz-main-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <mat-card class="example-card">
          <mat-card-header class="oz-us-address-card-header">
            <mat-card-title class="oz-us-address-card-title">
              მომხმარებლები
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="oz-us-address-card-body">

            <div class="example-container mat-elevation-z8">
              <table mat-table [dataSource]="users">
                <ng-container matColumnDef="createdAt">
                  <th mat-header-cell *matHeaderCellDef> შექმნის თარიღი </th>
                  <td mat-cell *matCellDef="let user"> {{user.createdAt | date: 'shortDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="_firstName">
                  <th mat-header-cell *matHeaderCellDef> სახელი </th>
                  <td mat-cell *matCellDef="let user"> {{user._firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="_lastName">
                  <th mat-header-cell *matHeaderCellDef> გვარი </th>
                  <td mat-cell *matCellDef="let user"> {{user._lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> მეილი </th>
                  <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef> მომხმარებლის ტიპი </th>
                  <td mat-cell *matCellDef="let user"> {{userTypes[user.role]}} </td>
                </ng-container>


                <!-- Action -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let user">
                    <div class="centered">
                      <button matTooltip="მომხმარებლის რედაქტირება" class="inline action-icon" (click)="editUserClickHandler(user)"><i class="fal fa-pencil"></i></button>
                      <button matTooltip="მომხმარებლის წაშლა" class="inline action-icon delete-button" (click)="deleteUserClickHandler(user)"><i class="fal fa-trash-alt"></i></button>
                    </div>
                  </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>

          </mat-card-content>

          <mat-card-actions class="oz-card-actions">

            <div class="fill"></div>
            <div>
              <!-- <button mat-button>თანხის შემოტანა</button> -->
              <button mat-button (click)="addNewUserClickHandler()">მომხმარებლის დამატება</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</div>