.mat-dialog-actions {
	float: right;
}

mat-form-field {
  display: block;
}

.body {
  height: 600px;
}

.oz-with-top-padding {
  padding-top: 10px;
}

.fixed-height-with-scroll {
  overflow-y: scroll;
  max-height: 270px;
}

.oz-font-icon {
  font-size: 26px;
  display: inline;
  color: white;
}

.oz-add-button {
  background-color: green;
}

.additional-padding {
  padding-bottom: 35px;
}

.oz-items-numeration {
  padding-top: 14px;
  font-size: 16px;
}

hr {
  max-width: 100%;
}

.right-align {
  text-align: right;
}

.oz-with-bottom-margin {
  margin-bottom: 15px;
}