<h1 mat-dialog-title>
  მომხმარებლის დამატება/რედაქტირება
</h1>

<div mat-dialog-content class="body">

  <form class="example-form" #userForm="ngForm">
    <div class="row registration-row">
        <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-select placeholder="აირჩიეთ მომხმარებლის ტიპი"  [(ngModel)]="user.role" 
                          name="role"
                          autocomplete="off"
                          [disabled]="isUpdateForm"
                          required>
                <mat-option *ngFor="let role of userRoles" [value]="role.value">
                  {{role.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="სახელი (ქართულად)" [(ngModel)]="user.firstName.geo" 
                 name="firstNameGeo" 
                 GeoInputDirective
                 autocomplete="off"
                 required>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="სახელი (ლაინურად)" [(ngModel)]="user.firstName.en" 
                 name="firstNameEn"
                 LatInputDirective
                 autocomplete="off"
                 required>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="გვარი (ქართულად)" [(ngModel)]="user.lastName.geo" 
                 name="lastNameGeo"
                 GeoInputDirective
                 autocomplete="off"
                 required>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="გვარი (ლათინურად)" [(ngModel)]="user.lastName.en" 
                 name="lastNameEn"
                 LatInputDirective
                 autocomplete="off"
                 required>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-select placeholder="სქესი"  [(ngModel)]="user.gender" 
                      name="gender"
                      autocomplete="off"
                      required>
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">

          <input matInput [matDatepicker]="birthDayPicker" placeholder="დაბადების თარიღი" [(ngModel)]="user.birthDate" 
                 name="birthDate"
                 autocomplete="off"
                 required>
          <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
          <mat-datepicker #birthDayPicker></mat-datepicker>

        </mat-form-field>
      </div>

      <div class="col-md-6">
        <div class="full-width center-checkbox">
          <mat-checkbox [(ngModel)]="user['isOrganization']" name="isOrganization">
            ორგანიზაცია?
          </mat-checkbox>
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput [disabled]="!user['isOrganization']" 
                [(ngModel)]="user.organizationName" 
                name="organizationName" 
                placeholder="ორგანიზაცია"
                autocomplete="off"
                required="{{user['isOrganization']}}">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput [disabled]="!user['isOrganization']" 
                 placeholder="საიდენთიფიკაციო კოდი" 
                 [(ngModel)]="user.identificationCode"
                 name="identificationCode"
                 autocomplete="off"
                 required="{{user['isOrganization']}}">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput [disabled]="user['isOrganization']" placeholder="პირადი ნომერი" 
                 [(ngModel)]="user.personalId"
                 name="personalId"
                 autocomplete="off"
                 required="{{!user['isOrganization']}}">
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="ელ. ფოსტა" 
                 [(ngModel)]="user.email"
                 name="email"
                 autocomplete="off"
                 pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                 required>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="full-width">
          <mat-select placeholder="ქალაქი" [(ngModel)]="user.city" name="city" required>
            <mat-option *ngFor="let city of cities" [value]="city">
              {{city}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="მისამართი (ქუჩა)" [(ngModel)]="user.address1" 
                 name="address1" autocomplete="off" required>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="მისამართი (ქუჩის N, ბინის N და ა.შ)" [(ngModel)]="user.address2" 
                 name="address2"
                 autocomplete="off">
        </mat-form-field>
      </div>



      <ng-container *ngIf="!isUpdateForm">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="პაროლი" [(ngModel)]="user.password" 
                   name="password"
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>
  
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="გაიმეორეთ პაროლი" 
                   name="passwordRe"
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>
      </ng-container>
    </div>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'დახურვა'}}</button>
  <button mat-button (click)="onYesClick()" [disabled]="!userForm.valid" cdkFocusInitial>შენახვა</button>
</div>