<h1 mat-dialog-title>
  ამანათის ნომერი: {{data?.trackingNumber}}
</h1>

<div mat-dialog-content class="body">

  <form #declarationUpdateForm="ngForm">
    <div class="row">
      <div class="col-md-4">
        <mat-checkbox [(ngModel)]="data.reBoundle" name="reBoundle">გადაფუთვა</mat-checkbox>
      </div>

      <div class="col-md-4">
        <mat-checkbox [(ngModel)]="data.additionalSecutiry" name="additionalSecutiry">დამატებითი უსაფრთხოება</mat-checkbox>
      </div>

      <div class="col-md-4">
        <mat-checkbox [(ngModel)]="data.moveToPackage" name="moveToPackage">პარკში გადადება</mat-checkbox>
      </div>

      <div class="col-md-12 oz-with-top-padding">
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="data.comment" name="comment" placeholder="დაამატეთ ამანათის კომენტარი"></textarea>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="გამომგზავნი" [(ngModel)]="data.sender.senderType" name="senderType">
            <mat-option *ngFor="let sender of senderTypes" [value]="sender.value">
              {{sender.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="მიუთითეთ გამომგზავნი მაღაზია" [disabled]="data.sender.senderType === 'personal'"
            [(ngModel)]="data.sender.onlineStoreWebAddress" name="onlineStoreWebAddress">
        </mat-form-field>
      </div>

      <div class="col-md-10 oz-with-top-padding additional-padding">
        <h5>
          დაამატეთ პროდუქცია
        </h5>
      </div>

      <div class="col-md-2 oz-with-top-padding  additional-padding">
        <button (click)="addPackageItemClickHandler()" mat-mini-fab matTooltip="დამატება" class="oz-add-button">
          <i class="fal fa-plus oz-font-icon"></i>
        </button>
      </div>

      <div class="col-md-12 fixed-height-with-scroll oz-with-top-padding" #scrollable>
        <div class="row" *ngFor="let item of data.packageItems; let i=index">
          <div class="col-md-1">
            <p class="oz-items-numeration">{{i + 1}}</p>
          </div>
          <div class="col-md-8">
            <mat-form-field>
              <mat-select placeholder="კატეგორია" [(ngModel)]="item.category" name="category_{{i}}">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input type="number" matInput placeholder="ღირებულება" [(ngModel)]="item.price" name="price_{{i}}"
                autocomplete="off" min="0" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">            
            <div class="col-md-12">
              <hr/>
            </div>
          </div>

        <div class="row oz-with-bottom-margin">
          <div class="col-md-1"></div>
          <div class="col-md-8">სულ</div>
          <div class="col-md-3 right-align">{{(getItemsSum() || 0) | number: '1.2-2'}}</div>
        </div>
      </div>
    </div>
  </form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'დახურვა'}}</button>
  <button mat-button (click)="onYesClick()" [disabled]="!declarationUpdateForm.valid" cdkFocusInitial>შენახვა</button>
</div>