<section>
	<div class="card card-container">
		<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
		<p id="profile-name" class="profile-name-card"></p>

		<form class="form-signin" (ngSubmit)="this.loginClickHandler($event)">
			<span id="reauth-email" class="reauth-email"></span>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autoFocus name="email"
			 [(ngModel)]="user.email" />
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password"
			 [(ngModel)]="user.password" />
			<div id="remember" class="checkbox">
				<label>
					<input type="checkbox" value="remember-me" /> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
		</form>
	</div>
</section>