<h1 mat-dialog-title>
  მისამართის დამატება/რედაქტირება:
</h1>

<div mat-dialog-content class="body">

  <form #addressForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="მისამართის დასახელება" [(ngModel)]="address.title" name="title" required>
        </mat-form-field>
      </div>

      <div class="col-md-4">
          <mat-form-field>
              <mat-select placeholder="ქვეყანა" [(ngModel)]="address.countryCode" name="countryCode" required>
                <mat-option *ngFor="let country of countries" [value]="country.value">
                  {{country.viewName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="შტატი" [(ngModel)]="address.state" name="state">
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ქალაქი" [(ngModel)]="address.city" name="city" required>
        </mat-form-field>
      </div>

      <div class="col-md-8">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ტელეფონის ნომერი" [(ngModel)]="address.phone" name="phone" required>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="საფოსტო ინდექსი" [(ngModel)]="address.zip" name="zip" required>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="მისამართის ველი 1" [(ngModel)]="address.address1" name="address1" required>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ოთახის ნომრის პრეფიქსი" [(ngModel)]="address.address2Prefix" name="address2Prefix" required>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'დახურვა'}}</button>
  <button mat-button (click)="onYesClick()" [disabled]="!addressForm.valid" cdkFocusInitial>შენახვა</button>
</div>