.oz-main-container {
  margin-left: 300px;
  background-color: #e9e9e9;
  height: 100vh;
  overflow-y: auto;
}


@media (max-width: 767px) {
  
}

@media (min-width: 767px) {

}

.container {
  padding-top: 50px;
}
.oz-us-address-card-header {
  border-bottom: 1px solid black;
}

.oz-us-address-card-title {
  font-size: 19px;
  line-height: 30px;
  font-weight: bold;
}

.oz-us-address-card-title-light {
  font-size: 17px;
  line-height: 30px;
}

.oz-us-address-card-body {
  margin: 10px 0;
}

.oz-card-actions {
  display: flex;
  justify-content: space-between;
}