<div mat-dialog-content class="body">
	<div class="img-div">
    <img 
      [src]="data['image'] || '/images/noimage.jpg'" 
      alt="oz"
      class="oz-image-view"
      >
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'დახურვა'}}</button>
</div>