.oz-image-view {
  /* display: block;
  margin: 0 auto;
  width: auto; */
  /* height: 100%; */
}

.mat-dialog-content {
  max-height: 100%;
}

.img-div {
  /* height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.body {
  /* overflow: hidden;  */
}

img {
  width: 100%;
  height: 100%;
}