<mat-card class="example-card">

    <mat-card-header class="oz-us-address-card-header">
        <mat-card-title class="oz-us-address-card-title">
            {{title}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="oz-us-address-card-body">
        <div class="row">
            <div class="col-md-4 oz-with-margin" *ngFor="let awaitingPackage of awaitingPackages">
                    <mat-card class="example-card" [ngClass]="awaitingPackage.isDeclared? 'declared' : 'undeclared'">

                            <mat-card-header class="oz-us-address-card-header" 
                                matTooltip="{{!awaitingPackage.isDeclared? 'გთხოვთ დაადეკლარიროთ ამანათი' : ''}}">
                                <mat-card-title class="oz-us-address-card-title-light">
                                    {{awaitingPackage.trackingNumber}}
                                </mat-card-title>
                            </mat-card-header>
    
                            <mat-card-content class="oz-us-address-card-body">
                                <div class="oz-package-comment-area">
                                    {{awaitingPackage.comment}}
                                </div>
                            </mat-card-content>
    
                            <mat-card-actions class="oz-card-actions">
    
                                <div class="fill"></div>
                                <div>
                                    <button mat-raised-button color="primary" (click)="editAwaitingPackage(awaitingPackage)"><i class="fal fa-pencil-alt"></i></button>
                                    <button mat-raised-button color="warn" *ngIf="showDelete"><i class="fal fa-trash-alt"></i></button>
                                </div>
                            </mat-card-actions>
                        </mat-card>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions class="oz-card-actions">
        <div class="fill"></div>
        <mat-paginator [length]="100"
          [pageSize]="6"
          [pageSizeOptions]="[6, 12, 18, 36, 72]">
        </mat-paginator>
    </mat-card-actions>

</mat-card>