@import '../shared/styles.css';

.example-container {
  height: 550px;
  overflow-y: scroll;
  overflow-x: auto; 
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.inline {
  display: inline;
}

.action-icon {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 10px;
}

.delete-button {
  color: red;
}

.centered {
  text-align: center;
}