<div class="oz-main-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <mat-card class="example-card">
          <mat-card-header class="oz-us-address-card-header">
            <mat-card-title class="oz-us-address-card-title">
              მისამართები
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="oz-us-address-card-body">

            <div class="example-container mat-elevation-z8">
              <table mat-table [dataSource]="addresses">
                <ng-container matColumnDef="createdAt">
                  <th mat-header-cell *matHeaderCellDef> შექმნის თარიღი </th>
                  <td mat-cell *matCellDef="let address"> {{address.createdAt | date: 'shortDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                  <th mat-header-cell *matHeaderCellDef> განახლების თარიღი </th>
                  <td mat-cell *matCellDef="let address"> {{address.updatedAt | date: 'shortDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> დასახელება </th>
                  <td mat-cell *matCellDef="let address"> {{address.title}} </td>
                </ng-container>

                <ng-container matColumnDef="countryCode">
                  <th mat-header-cell *matHeaderCellDef> ქვეყანა </th>
                  <td mat-cell *matCellDef="let address"> {{address.countryCode}} </td>
                </ng-container>

                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef> შტატი </th>
                  <td mat-cell *matCellDef="let address"> {{address.state}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef> ქალაქი </th>
                  <td mat-cell *matCellDef="let address"> {{address.city}} </td>
                </ng-container>

                <ng-container matColumnDef="zip">
                  <th mat-header-cell *matHeaderCellDef> ფოსტ. ინდ </th>
                  <td mat-cell *matCellDef="let address"> {{address.zip}} </td>
                </ng-container>

                <ng-container matColumnDef="address2Prefix">
                  <th mat-header-cell *matHeaderCellDef> ოთახის ნომერი </th>
                  <td mat-cell *matCellDef="let address"> {{address.address2Prefix}} </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let address">
                    <div class="centered">
                      <button matTooltip="მისამართის რედაქტირება" class="inline action-icon" (click)="editAddressClickHandler(address)"><i class="fal fa-pencil"></i></button>
                      <button matTooltip="მისამართის რედაქტირება" class="inline action-icon delete-button" (click)="deleteAddressClickHandler(address?._id)"><i class="fal fa-trash-alt"></i></button>
                    </div>
                  </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>

          </mat-card-content>

          <mat-card-actions class="oz-card-actions">

            <div class="fill"></div>
            <div>
              <!-- <button mat-button>თანხის შემოტანა</button> -->
              <button mat-button (click)="addNewAddressClickHandler()">მისამართის დამატება</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</div>