@import '../shared/styles.css';
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.oz-with-margin {
  margin: 30px 0;
}


.declared .oz-us-address-card-title-light{
  color: #08cc0e;
}

.undeclared .oz-us-address-card-title-light{
  color: #ff0f0f;
}

.oz-package-comment-area {
  height: 100px;
  overflow-y: auto;
}