<div class="oz-main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form #trackingNumberAddForm="ngForm">
                    <mat-card class="example-card">

                        <mat-card-header class="oz-us-address-card-header">
                            <mat-card-title class="oz-us-address-card-title">
                                გზავნილის ნომრის დამატება
                            </mat-card-title>
                        </mat-card-header>

                        <mat-card-content class="oz-us-address-card-body">
                            <div class="example-container">

                                <mat-form-field>
                                    <input matInput placeholder="შეიყვანეთ გზავნილის ნომერი" [(ngModel)]="trackingNumberModel"
                                        name="trackingNumber" autocomplete="off" required>
                                </mat-form-field>

                            </div>
                        </mat-card-content>

                        <mat-card-actions class="oz-card-actions">

                            <div class="fill"></div>
                            <div>
                                <button mat-button [disabled]="!trackingNumberAddForm.valid">დამატება</button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>

            <div class="col-md-12 oz-with-margin">
                <app-package-editable-list-component [awaitingPackages]="awaitingPackages" [showDelete]="true" [title]="'გზავნილები'"></app-package-editable-list-component>
            </div>
        </div>
    </div>
</div>