<ng-container *ngIf="user">
	<ng-container *ngIf="user.role === 'admin'">
		<app-admin-navbar></app-admin-navbar>
	</ng-container>

	<!-- 
	<ng-container *ngIf="user.role === 'client'">
		<app-client-navbar></app-client-navbar>
	</ng-container>

	<ng-container *ngIf="user.role === 'operator'">
		<app-operator-navbar></app-operator-navbar>
	</ng-container>
	-->

	<ng-container *ngIf="user.role === 'owner'">
		<app-owner-navbar></app-owner-navbar>
	</ng-container>

	<ng-container *ngIf="user.role === 'client'">
		<app-client-navbar></app-client-navbar>
	</ng-container>

</ng-container>

<ng-container *ngIf="!user">
	<ng-container>
		<app-visitor-navbar></app-visitor-navbar>
	</ng-container>
</ng-container>