<!-- Navigation -->
<nav *ngIf="shouldRenderScrollTo()" class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="pageYOffset > 50? 'navbar-shrink' : ''" id="mainNav">
  <div class="container">
    <a class="navbar-brand pointer" [ngx-scroll-to]="'#page-top'">{{'shipping app' | translate}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link pointer" [ngx-scroll-to]="'#about'">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngx-scroll-to]="'#services'">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngx-scroll-to]="'#portfolio'">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngx-scroll-to]="'#contact'">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/login']">Log In</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/register']">Register</a>
        </li>
      </ul>

      <li class="nav-item">
        <app-language-selector></app-language-selector>
      </li>


    </div>
  </div>
</nav>

<nav *ngIf="!shouldRenderScrollTo()" class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
  <div class="container">
    <a class="navbar-brand pointer" [routerLink]="['/']">{{'shipping app' | translate}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/']">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/']">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/']">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/login']">Log In</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['/register']">Register</a>
        </li>
      </ul>

      <li class="nav-item">
        <app-language-selector></app-language-selector>
      </li>


    </div>
  </div>
</nav>