<div class="oz-main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 oz-with-margin">
          <app-package-editable-list-component [awaitingPackages]="awaitingPackages" [showDelete]="false" [title]="'ამანათები საწობში'"></app-package-editable-list-component>
      </div>
    </div>
  </div>
</div>