/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/fontawesome/css/all.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./assets/bootstrap-4.1.3//css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800";
@import "./assets/css/creative.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css";

.pointer {
  cursor: pointer;
}