<section>
  <div class="container">
    <div class="row registration-row">
        <div class="col-md-12" *ngIf="errorMessage">
            <div class="alert alert-danger">
                <strong>ყურადღება!</strong> 
                {{errorMessage}}
            </div>
        </div>
    </div>
    <form class="example-form" #registrationForm="ngForm">
      <div class="row registration-row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="სახელი (ქართულად)" [(ngModel)]="userModel.firstName.geo" 
                   name="firstNameGeo" 
                   GeoInputDirective
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="სახელი (ლაინურად)" [(ngModel)]="userModel.firstName.en" 
                   name="firstNameEn"
                   LatInputDirective
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="გვარი (ქართულად)" [(ngModel)]="userModel.lastName.geo" 
                   name="lastNameGeo"
                   GeoInputDirective
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="გვარი (ლათინურად)" [(ngModel)]="userModel.lastName.en" 
                   name="lastNameEn"
                   LatInputDirective
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-select placeholder="სქესი"  [(ngModel)]="userModel.gender" 
                        name="gender"
                        autocomplete="off"
                        required>
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">

            <input matInput [matDatepicker]="birthDayPicker" placeholder="დაბადების თარიღი" [(ngModel)]="userModel.birthDate" 
                   name="birthDate"
                   autocomplete="off"
                   required>
            <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDayPicker></mat-datepicker>

          </mat-form-field>
        </div>

        <div class="col-md-6">
          <div class="full-width center-checkbox">
            <mat-checkbox [(ngModel)]="userModel['isOrganization']" name="isOrganization">
              ორგანიზაცია?
            </mat-checkbox>
          </div>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput [disabled]="!userModel['isOrganization']" 
                  [(ngModel)]="userModel.organizationName" 
                  name="organizationName" 
                  placeholder="ორგანიზაცია"
                  autocomplete="off"
                  required="{{userModel['isOrganization']}}">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput [disabled]="!userModel['isOrganization']" 
                   placeholder="საიდენთიფიკაციო კოდი" 
                   [(ngModel)]="userModel.identificationCode"
                   name="identificationCode"
                   autocomplete="off"
                   required="{{userModel['isOrganization']}}">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput [disabled]="userModel['isOrganization']" placeholder="პირადი ნომერი" 
                   [(ngModel)]="userModel.personalId"
                   name="personalId"
                   autocomplete="off"
                   required="{{!userModel['isOrganization']}}">
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="full-width">
            <input matInput placeholder="ელ. ფოსტა" 
                   [(ngModel)]="userModel.email"
                   name="email"
                   autocomplete="off"
                   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="full-width">
            <mat-select placeholder="ქალაქი" [(ngModel)]="userModel.city" name="city" required>
              <mat-option *ngFor="let city of cities" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="მისამართი (ქუჩა)" [(ngModel)]="userModel.address1" 
                   name="address1" autocomplete="off" required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="მისამართი (ქუჩის N, ბინის N და ა.შ)" [(ngModel)]="userModel.address2" 
                   name="address2"
                   autocomplete="off">
          </mat-form-field>
        </div>



        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="პაროლი" [(ngModel)]="userModel.password" 
                   name="password"
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="გაიმეორეთ პაროლი" 
                   name="passwordRe"
                   autocomplete="off"
                   required>
          </mat-form-field>
        </div>
      </div>

      <div class="row registration-row">
        <div class="col-md-12">
            <button 
                class="right register-button" 
                [disabled]="!registrationForm.valid" 
                mat-raised-button color="primary"
                (click)="registerUser()">რეგისტრაცია</button>
        </div>
      </div>

    </form>

  </div>
</section>