<select #selectpicker class="selectpicker" data-width="fit" (change)="setLanguage(selectpicker.value)" [value]="activatedLanguage">
  <option [value]="'ge'">
    <div class="flag-icon flag-icon-fr"> 
      ქართული
    </div>
  </option>
  <option [value]="'en'">
    <div class="flag-icon flag-icon-fr"> 
      English
    </div>
  </option>
  <option [value]="'ru'">
    <div class="flag-icon flag-icon-fr"> 
      Russian
    </div>
  </option>
</select>